@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;900&display=swap');

*  { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    --orange:#ff9939;
    --purple: #A149FA;
    --blue: #6600FF;
    --gray: #B2B2B2;
    --green: #14f195;
    --dark-orange: #CD4906;

}
::-moz-selection { /* Code for Firefox */
  color: #222;
  background: #99DEF9;
}

::selection {
 color: #222;
  background: #99DEF9;
}

html{
    overflow-x:hidden;
}
body::-webkit-scrollbar {
  width: .6em;
  background-color:none;

}

body::-webkit-scrollbar-track {
    
    background-color:none;  

}


 
body::-webkit-scrollbar-thumb {
 border-radius: 50px;
    background-color: gray;
  
}


.clear 
    { 
    clear:both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}
body 
    { 
    font-family:'Lato',sans-serif;
    background-color:#000; 
    color: #B2B2B2;
    margin: 0;
    padding: 0;
    overflow-x:hidden; 
} 

/*Typography*/

h1,h2,h3,h4{
    font-weight:900;
    margin-bottom:15px;
    color:#fff;
    line-height:1.2;
}

h1 
    { 
    font-size: 5em; 
} 
     
h2 
    { 
    font-size: 4em;     
} 
     
h3 
    { 
    font-size: 3.5em; 
} 
     
h4 
    { 
    font-size: 2.8em;     
} 
     
h5,h6 
    { 
    font-size: 1.1em; 
    letter-spacing:.5px; 
    font-weight:400;
    margin-bottom:15px;
    line-height: 1.3;
    color: #fff;   
} 
     
p{ 
    font-size: 17px;
    margin-bottom:10px; 
    line-height:1.4;
    font-weight: 400;
    letter-spacing:.7px;    
}

a{
    color: #fff;
    text-decoration:none;
    font-weight:400;
    font-size:17px;
    letter-spacing:.5px;
    -webkit-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}
a:hover{
    color: #ccc;
}

a i{
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

button{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

ul{
    padding-left: 0;
    list-style:none;
    margin-bottom:0;
}

img{
    max-width:100%;
    width:100%;
    height:auto;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    -o-object-fit:cover;
       object-fit:cover;

}

input:focus,
textarea:focus,
.form-control:focus{
   -webkit-box-shadow: 0 0 0 0.25rem rgb(153 222 249 / 62%);
           box-shadow: 0 0 0 0.25rem rgb(153 222 249 / 62%);
}

.wrapper 
    {  
    width:980px;  
    text-align:left;   
    margin-left:auto;  
    margin-right:auto;  
}
.p-relative{
    position:relative;
}
.section-title{
    position:relative;
    overflow: hidden;
    margin-bottom:30px;

}
.section-title p{
    font-size:18px;
    font-weight:600;
}

.section-title h3{
    padding-top: 30px;
    padding-bottom:30px;
}
.section-title.center{
    max-width:800px;
    text-align:center;
    margin: 0 auto 120px auto;
}

.section-title.center .dash{
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.inline{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
.max-500{
    max-width:500px;
}
.max-400{
    max-width:450px;
}
.pr-4{
    padding-right:40px;
}
.mb-10{
    margin-bottom:5rem;
}

.section-padding{
    padding:60px 0;
}
.dash{
    width:50px;
    height:1px;
    background-color:#99DEF9;
    position:absolute;
    top: 0;
    left: 0;
    z-index:1;
}
[data-aos]{
    pointer-events:initial;
}
[data-aos] {
  visibility: hidden;
}

[data-aos].animate__animated {
  visibility: visible;
}

.telegram-img{
    max-width:25px;
    margin-top: -3%;
}

/* buttons  */
.btn-primary,.btn-secondary{
    border-radius: 50px;
    min-width:150px;
    padding: 14px 20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    line-height:1.25rem;
    text-transform:uppercase;
    font-size:13px;
    display:inline-block;
    text-align: center;
    color: #fff;
    
}
.btn-primary {
    background-color:var(--orange);
    border: 1px solid var(--orange);
    color: #000;
}
.btn-secondary{
    background-color:#000;
    border: 1px solid #000;
}


.btn-secondary.border-btn{
    background-color:transparent;
    border-color:#fff;
    color: #fff;
}
.btn-secondary:hover,
.btn-primary:hover,
.btn-secondary.border-btn:hover{
    background-color:#fff;
    color: #000;
    border-color:#fff;
    -webkit-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
            transform:translateY(-5px);
}

.danger{
    color:red;
    margin:5px 0;
    display:none;
}

.buttons.inline .btn-primary{
    margin-right:20px;
}
.slider-arrows{
    margin: 40px 0;
}
.slick-arrow{
    width:50px;
    height:50px;
    margin-right:10px;
    border-radius: 50%;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.seperator{
    margin:50px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

/* bg and colors  */
.bg-theme{
    background-image: -webkit-gradient(linear, left bottom, right top, from(#60087f), color-stop(#5d0090), color-stop(#5600a2), color-stop(#4701b6), to(#250bcb));
    background-image: -o-linear-gradient(left bottom, #60087f, #5d0090, #5600a2, #4701b6, #250bcb);
    background-image: linear-gradient(to right top, #60087f, #5d0090, #5600a2, #4701b6, #250bcb);

 }
 .bg-green{
    background-color:var(--green);
 }

.bg-blue{
    background-color:var(--blue);
}
.bg-orange{
    background-color:var(--orange);
}
.bg-purple{
    background-color:var(--purple);
}

/* Tables  
-----------------------------------------------------------------------------*/ 

table 
  {  
  border-spacing: 0; 
  border-collapse: collapse; 
} 

td  
  { 
  text-align: left; 
  font-weight: normal; 
}

/* Header */

.sidenav{
    position:fixed;
    right:0;
    width:100px;
    height:100%;
    z-index:999;
    -webkit-animation-delay:3s;
            animation-delay:3s;

}
.navbar .mobile-nav{
       width: 100%;
       padding: 0 15px; 
}
.navbar .nav-wrap{
    width:100%;
    display:none;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navbar .nav-wrap ul{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    margin-top: 30px;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sidenav .nav-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.ui-line{
    width:40px;
    height:1px;
    background: #99DEF9;
    margin: 0 20px;
}
.sidenav .copyright{
     -webkit-transform:rotate(-90deg);
         -ms-transform:rotate(-90deg);
             transform:rotate(-90deg);
     width:100%;
     min-width:400px;
    
}
.sidenav .copyright p{
    margin-bottom:0;
    font-size:11px;
    font-weight:700;
    text-transform:uppercase;
    opacity:.6;
    float:right;
}

.sidenav .nav-wrap ul.side-menu{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:100vw;
    height:50%;
    -webkit-transform:rotate(-90deg);
        -ms-transform:rotate(-90deg);
            transform:rotate(-90deg);
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
 .nav-wrap li{
    position:relative;  
   text-align:center;
    font-weight:400;
   text-transform:uppercase;
}
 .nav-wrap li:before{
    content:"";
    position:absolute;
    top:100%;
    left: 0;
    width:0;
    -webkit-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
    height:1px;
    background-color:#fff;
    z-index:999;
}
 .nav-wrap li:hover:before{
    width:100%;

}
.breadcrumb{
    display:none;
}

.nav-wrap a{
    font-size:11px;
    font-weight:500;
    letter-spacing:1.5px;
}
.nav-wrap a.active{
    color: #99DEF9;
}


.navbar{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    background-color:transparent;
    padding: 15px 0;
    z-index:999;
}
.logo a{
     font-size:23px;
    font-weight:500;
    color: #fff;
    font-family: 'Bona Nova',sans-serif;

}


 .logo-icon{
    margin-right:5px;
}

.logo img{
    width:45px;
    height:45px;
}

.img-wrapper{
    max-width:350px;
    margin: 0 auto;
}
.img-wrapper.mr-0{
    margin: 0;
}

/* Hero-section */

.hero-main{
    background: -o-linear-gradient(340deg, rgba(65,37,115,1) 10%, rgba(34,6,43,1) 100%, rgba(33,5,41,1) 90%, rgba(30,6,39,1) 100%);
    background: linear-gradient(110deg, rgba(65,37,115,1) 10%, rgba(34,6,43,1) 100%, rgba(33,5,41,1) 90%, rgba(30,6,39,1) 100%);
   
    background-size:cover;
    background-position:top right;
    position:relative;
    overflow: hidden;
    
}

.hero-canvas{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:0;
}

.hero-canvas .hand,
.hero-canvas .upper-hand,
.hero-canvas .coins{
   position:absolute;
   overflow: hidden;

}
.hero-canvas .hand{
    bottom: -50px;
    right: 0;
    max-width:700px;
}




.hero-canvas .upper-hand{
    max-width:450px;
    top: 0;
    right: 0;
    top: 0;
    z-index: 2;
    right: 0;
}
.hero-canvas .upper-hand img{
     margin-top: -70px;
     -webkit-animation-delay:1s;
             animation-delay:1s;    
   
}

.hero-canvas .coins{
  
    max-width: 650px;
    top: 40%;
    right: 10%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.hero-canvas .coins img{
    -webkit-animation-delay:2s;
            animation-delay:2s;
}
.hero-main .overlay{
    position:absolute;
    top: 0;
    left: 0;
    -webkit-animation-delay:3s;
            animation-delay:3s;
    width: 100%;
    height: 100%;
    z-index:1;
    background:-webkit-gradient(linear, left top, right top, color-stop(10%, rgb(0, 0, 0)), color-stop(30%, rgb(0 0 0 / 80%)), color-stop(40%, rgb(0 0 0 / 65%)), color-stop(65%, rgb(0 0 0 / 16%)), color-stop(70%, rgb(0 0 0 / 0%)));
    background:-o-linear-gradient(left, rgb(0, 0, 0) 10%, rgb(0 0 0 / 80%) 30%, rgb(0 0 0 / 65%) 40%, rgb(0 0 0 / 16%) 65%, rgb(0 0 0 / 0%) 70%);
    background:linear-gradient(90deg, rgb(0, 0, 0) 10%, rgb(0 0 0 / 80%) 30%, rgb(0 0 0 / 65%) 40%, rgb(0 0 0 / 16%) 65%, rgb(0 0 0 / 0%) 70%);
}

.hero-main .hero-inner{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    position:relative;
    z-index:1;
      -webkit-animation-delay:3s;
              animation-delay:3s;
}

.hero-main:before{
    content:"";
     position:absolute;
    top: 0;
    left: 0;
    opacity:.8;
    width: 100%;
    height: 100%;
    z-index:0;
    background:-webkit-gradient(linear, left top, right top, color-stop(10%, rgb(0, 0, 0)), color-stop(30%, rgb(0 0 0 / 70%)), color-stop(40%, rgb(0 0 0 / 45%)), color-stop(65%, rgb(0 0 0 / 16%)), color-stop(70%, rgb(0 0 0 / 0%)));
    background:-o-linear-gradient(left, rgb(0, 0, 0) 10%, rgb(0 0 0 / 70%) 30%, rgb(0 0 0 / 45%) 40%, rgb(0 0 0 / 16%) 65%, rgb(0 0 0 / 0%) 70%);
    background:linear-gradient(90deg, rgb(0, 0, 0) 10%, rgb(0 0 0 / 70%) 30%, rgb(0 0 0 / 45%) 40%, rgb(0 0 0 / 16%) 65%, rgb(0 0 0 / 0%) 70%);


}

.hero-inner .intro{
    max-width:600px;
    padding-top: 120px;
    padding-bottom:90px;

}
.hero-inner .buttons.inline{
    margin: 40px 0;
}

.hero-inner h6{
    line-height:1.5;
}

.intro .img-wrapper{
    -webkit-animation: rotateIn .3s infinite forwards ease-in;
            animation: rotateIn .3s infinite forwards ease-in;
}

.intro h1 span.top-dash{
    position:absolute;
    left: -20%;
    top: 50px;
    width:15%;
    height:1px;
    background-color:#99DEF9;
    z-index:1;
}




/* st-intro  */

.st-intro .shadow-wall{
    height:4em;
}

.st-intro .intro-inner{
    max-width:400px;
    
}
.slider-wrapper{
    width:100%;
}

.st-intro .slide-item{
    max-height:400px;

}

/* Features */
.st-features .feature-top{
    position:relative;
    overflow:hidden;

}

.feature-top .shadow-wall.top{
    top: 0;
    background-image:-webkit-gradient(linear, left bottom, left top, from(rgb(0 0 0 / 0%)), color-stop(50%, rgb(0 0 0 / 92%)), color-stop(60%, rgb(0 0 0 / 99%)), color-stop(100%, rgb(0 0 0)), to(rgb(0 0 0)));
    background-image:-o-linear-gradient(bottom, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 92%) 50%, rgb(0 0 0 / 99%) 60%, rgb(0 0 0) 100%, rgb(0 0 0) 100%);
    background-image:linear-gradient(0deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 92%) 50%, rgb(0 0 0 / 99%) 60%, rgb(0 0 0) 100%, rgb(0 0 0) 100%);
}
.st-features .inner{
    position:relative;
    overflow: hidden;
    width:100%;
    margin-bottom: 30px;
     border-radius:10px;
    
     background:rgb(35, 35, 37);

}

.st-features .section-title{
    margin-top: -8em;
    position:relative;
    z-index:2;
}




.st-features .feature-img{
    width: 100%;
    height: 75%;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    z-index: 0;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}
.st-features .feature-img img{
    width:100%;
    height:100%;
}

.st-features .content{
    padding: 30px 60px 280px 30px;
    position:relative;
    z-index:2;
}
.st-features .content p{
    color: #eee;
}
/* Decenteralization  */
.st-decent .decentr-img{
    position:relative;
    overflow:hidden;
    max-height:450px;
}


.shadow-wall{
   background-image:-webkit-gradient(linear,left top, left bottom,from(transparent),color-stop(hsl(0deg 0% 0% / 50%)),to(#000000));
   background-image:-o-linear-gradient(top,transparent,hsl(0deg 0% 0% / 50%),#000000);
   background-image:linear-gradient(-180deg,transparent,hsl(0deg 0% 0% / 50%),#000000);
    height: 8em;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.st-decent .section-title{
    margin-top: -8rem;
    position:relative;
    z-index:2;
}
.st-decent .about-us{
    background-color:rgb(235, 84, 188);
}
.st-decent .about-us h4,
.st-decent .contact-us h4{
    max-width:250px;
}
.st-decent .contact-us h4 i{
    font-size:30px;
    vertical-align:middle;
}

.st-decent .about-us,
.st-decent .contact-us{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 40px;
    border-radius:15px;
     border: 1px solid rgba( 255, 255, 255, 0.18 );
     margin-bottom:30px;
     min-height:400px;
}

/* Ecosystem  */
.st-eco.section-padding{
    padding-bottom:30px;
}
.st-eco .eco-inner{
    height: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-pack:distribute;
        justify-content:space-around;



}
.st-eco .strip{
    
    max-width:500px;
    border-top-left-radius: 50px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom:40px;
 
}


.st-eco .icon{
    margin-right:20px;
    min-width:80px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   
}
.st-eco .strip h4{
    font-size:22px;
   
}
.st-eco .strip p{
    color: #fff;
}

/* About-page */


.st-about{
    width:100%;

}
.st-about:before{
    content:"";
    width:100%;
    height:100%;
    background-color:rgb(0 0 0 / 70%);
    position:absolute;
    top: 0;
    left: 0;
    z-index:0;
    opacity:0;
}



.st-about .big-wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    position:relative;
}

.st-about .about-bg{
  width:100%;
  height:100vh;
  position:fixed;
  left:0;
z-index: -1;
  top: 0; 

}


.st-about .about-bg img{
    width:auto;
    height:100%;
}




.st-about h5{
    font-size:60px;
    line-height:1.3;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    text-transform: uppercase;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.st-about p{
    text-align: left;
    margin-bottom: 3em;
    max-width: 500px;
}

.st-about .coin{
    max-width:70px;
    vertical-align: middle;

}
.st-about .token{
    margin-right:100px;
}

.st-about .about-wrap{
    width:100%;
    padding-top: 150px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
/* Contact-page  */

.st-contact{
    padding-top: 100px;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#submitBtn.hide{
    opacity:0;
    visibility:hidden;
}

#submitBtn:focus{
    background-color:var(--orange);
}

.tick-box{
    position:absolute;
    width:40px;
    height:40px;
    top: 4px;
    left: 0;
    opacity:0;
    visibility:hidden;


}

.circ{
    opacity:0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tick{
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}
.wheel.tick-box,
.break.tick-box{
    opacity:1;
    visibility:visible;
}

.wheel  svg .path.circ{
    opacity:1;
    -webkit-animation: wheel 1.5s infinite backwards;
            animation: wheel 1.5s infinite backwards;
}
.break  svg .path{
    opacity:1;  
    stroke-dashoffset:0;

}


@-webkit-keyframes wheel {
    0% {
        stroke-dashoffset: 130;
    }
    100%{
         stroke-dashoffset:-130;
    }

    
}


@keyframes wheel {
    0% {
        stroke-dashoffset: 130;
    }
    100%{
         stroke-dashoffset:-130;
    }

    
}



.st-contact .form-title,
.st-contact .info-title{
    margin-bottom:50px;
}
.st-contact .form-title i{
    font-size:20px;
    vertical-align:top;
    margin-left:5px;
    color: #ff9939;
} 
.st-contact .form-group{
    margin-bottom:30px;
    max-width:450px;
}
.st-contact .form-group .form-control{
    padding: 8px 15px;
    color: #fff;
    background-color:transparent;
    border:1px solid #222;
}
.st-contact .info-wrap{
    margin-bottom:50px;
}
.st-contact .info-wrap h6{
    margin-bottom:10px;
    font-weight:600;
}
.st-contact .info-right{
    padding:30px 60px 150px 30px;
    border-radius:10px;
    position:relative;
    overflow: hidden;
    background-color:rgb(35, 35, 37);
}
.st-contact .info-right .shape{
    min-width:400px;
    position:absolute;
    bottom: -10px;
    left:50%;
    -webkit-transform: translate(-50% , 50%);
        -ms-transform: translate(-50% , 50%);
            transform: translate(-50% , 50%);
}

.st-contact .info-right p a{
    color: #99DEF9;
    text-decoration:underline;
}

/* footer  */

.st-footer.section-padding{
    padding-top: 20px;
}

.st-footer .lang a{
    text-transform:uppercase;
    font-weight:500;
    font-size:15px;
}
.st-footer .lang a span{
    margin-right:5px;
    font-size:15px;
    opacity:0;
}
.st-footer .footer-wrap{
    background-color: #fff;
    border-radius:7px;
    padding: 30px 20px;
    position:relative;
    -webkit-box-shadow:0 -15px 1px -2px rgb(255 255 255 / 32%);
            box-shadow:0 -15px 1px -2px rgb(255 255 255 / 32%);
}
.st-footer a{
    color: #000;
}

.st-footer .social{
    margin-bottom:70px;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.social img{
    width:auto;
}

.st-footer .social h6{
    margin-bottom:30px;
}

.st-footer .social a:hover i,
.st-footer .social a:hover img{
    -webkit-transform:scale(1.4);
        -ms-transform:scale(1.4);
            transform:scale(1.4);
}

.st-footer .social a{
    color: #fff;
    margin-left: 15px;
    font-size:25px;
}
@media(min-width: 1400px){
    .container{
        max-width:1140px !important;
    }
}

@media(max-width: 991px){
    .st-about:before{
        opacity:1;
    }
    .st-contact .row,
    .st-eco .row{
        -webkit-box-orient:vertical;
        -webkit-box-direction:reverse;
            -ms-flex-direction:column-reverse;
                flex-direction:column-reverse;
    }

    .container{
        padding: 0 25px;
    }
    .st-eco .eco-img{
        margin-bottom:40px;
    }
    .hero-canvas .upper-hand img{
        margin: 0;
    }
    .st-contact .info-right,
    .st-contact .form-wrap{
   
    margin-top: 90px;
    }
    .hero-main:before{
        -webkit-animation-name:fadeIn;
                animation-name:fadeIn;
        -webkit-animation-delay:3s;
                animation-delay:3s;
        background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgb(0, 0, 0)), color-stop(40%, rgb(0 0 0 / 88%)), color-stop(50%, rgb(0 0 0 / 90%)), color-stop(100%, rgb(0 0 0 / 60%)), to(rgb(0 0 0 / 0%)));
        background: -o-linear-gradient(left, rgb(0, 0, 0) 20%, rgb(0 0 0 / 88%) 40%, rgb(0 0 0 / 90%) 50%, rgb(0 0 0 / 60%) 100%, rgb(0 0 0 / 0%) 100%);
        background: linear-gradient(90deg, rgb(0, 0, 0) 20%, rgb(0 0 0 / 88%) 40%, rgb(0 0 0 / 90%) 50%, rgb(0 0 0 / 60%) 100%, rgb(0 0 0 / 0%) 100%);
    }

}

@media(max-width: 768px){
      h1,h2{
        font-size:3.2em;
    }
    h3{
        font-size:2.5em;
    }
    h4{
        font-size:2.3em;
    }

    .navbar .mobile-nav a.logo{
        margin-left:5px;
    }
    .st-intro .row.mt-5{
        -webkit-box-orient:vertical;
        -webkit-box-direction:reverse;
            -ms-flex-direction:column-reverse;
                flex-direction:column-reverse;
    }
    .intro h1 span.top-dash{
        display:none;
    }
    .navbar .mobile-nav{
        text-align:center;
    }
    .navbar .nav-wrap{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
    .section-title.center{
        margin-bottom:60px;
    }
   .section-title h3{
    padding-bottom:20px;
   }
   .sidenav{
    display:none;
   }
   .st-footer .lang a span{
    opacity:1;
   }
   .st-footer .footer-wrap{
    padding: 15px;
   }
   .st-about .about-wrap{
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
   }
   .st-about p{
    color: #ffffffc9;
   }

   .st-about .token h5{
    font-size:40px;
   }
   .st-about .token h5 .coin{
    width:70px;
    height:70px;
   }
   .hero-inner .intro{
    padding-top:200px;
   }
   
    
   


}

@media(max-width: 570px){
   
    .section-padding{
        padding: 50px 0;
    }
   
    
    .st-eco .eco-img{
        margin-bottom:30px;
    }

    .st-intro .section-title{
    text-align:center;
    margin-top: 50px;

   }
   .st-eco .eco-img{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
   }
    .st-intro .section-title .dash{
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .st-intro .pr-4{
        padding:20px 30px;
    }
    .st-intro p{
        text-align:center;
    }
    .st-features .section-title{
        margin-top: -3em;
    }
    .st-features.section-padding{
        padding-top:0;
    }
    .st-features .feature-top img{
        min-height:300px;
    }
    .hero-main{
        height:100vh;
    }
    .hero-inner .buttons.inline{
        margin:50px 0;
    }
    .hero-inner .intro{
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .hero-main .hero-inner{
        height:100vh;
        -webkit-animation-delay:2s;
                animation-delay:2s;
    }
    .hero-main .mobile-bg{
        background-image: url(../img/mobile-hero.png);
        background-size:cover;
        -webkit-animation-delay:1s;
                animation-delay:1s;
        position:absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        z-index:0;

    }
    .hero-main:before{
        display:none;
    }

    .hero-canvas{
        display:none;
    }
    .hero-main .overlay{
        -webkit-animation-delay:2s;
                animation-delay:2s;
        background:rgba(0,0,0,0.7);

    }

}
@media(max-width: 400px){
    .hero-inner .intro{
        padding-top:180px;
    }
    .shadow-wall{
        height:2em;
    }
    .hero-inner .buttons.inline{
        margin-top:50px;
        margin-bottom:20px;
    }
    h1,h2{
        font-size:2.5em;
    }
   
    
    /*.inline{
        flex-direction:column;
        align-items:flex-start;
    }*/
    .buttons.inline .btn-primary,
    .buttons.inline .btn-secondary{
        width:100%;
        margin-bottom: 20px;
    }
}


