
body{
  margin:0;
  padding:0;
  overflow-x:hidden;
  scroll-behavior: smooth;
  transition:all .3s ease-in;
  font-family:League Spartan,sans-serif;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0 , rgb(39, 41, 45);
  background-blend-mode:multiply;
  background-attachment:fixed;

}


h1,h2,h3,h4,h5,h6{
  font-weight:800;
  color:#32302f;

}
p{
  font-weight:400;
  font-size:16px;
  color:#b4b4b4;
}
img{
  width:100%;
  height:auto;
  object-fit:cover;
}

.option.mr-30{
  margin-right:80px;
  margin-top:30px;
  margin-bottom:30px;
}
.option.ml-30{
  margin-left:80px;
   margin-top:30px;
  margin-bottom:30px;
}
   
.nav-wrap{
  background-color:transparent;
  padding:0 30px;
  top:0;
  left:0;
  position:fixed;
  width:100%;
  z-index:10000;

}
.nav-wrap a{
  color:#fff;
  font-size:19px;
  margin:0 15px;
  font-family:'Bona Nova',sans-serif;
}
.navbar-brand a{
  font-size:20px;
  font-family:'Bona Nova',sans-serif;
}
.nav-wrap .navbar-nav{
  align-items:center;
}

.ui-circle.line {
    width: 60px;
    height: 1px;
    background-color:#fff;
}

.nav-wrap .navbar-collapse{
  justify-content:flex-end;
}
#main-section .wrapper{
 
  height:100vh;
  position:relative;

}
#main-section .container{
  height:100vh;
}

#main-section .pr-img{
  position:absolute;
  top:50%;
  left:50%;
  transition:.3s;
  max-width:420px;
}


.intro{
  position: absolute;
    top: 50%;
    left: 0;
    width:100%;
    transform: translateY(-50%);
}

.intro-wrap{
    padding-left:70px;
}
.v-text{
  width:100%;
  display:flex;
  justify-content:center;
  align-items: center;
  position:relative;
  overflow:hidden;
  height:30vh;
}
.v-text p{
  transform:rotate(90deg);
  position:relative;
}
.v-text p:after{
  content:"";
  display:block;
  position:absolute;
  top:53%;

  margin-left:10px;
  left:100%;
  width:50px;
  height:1px;
  background:#b4b4b4;
}
.framer-wrap .circle{
  position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background:#5036D5;
    transform:translate(-50%,-50%) scale(0);
    border-radius: 50%;
   
    
}

.framer-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.features-wrap{
  height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-wrap .inner{
  width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.features-wrap .option{
    text-align: center;
    border-radius: 10px;
    max-width:300px;
    transform:scale(0);
    position:relative;
    
}




.pr-img.p1{
  transform:translate(-10%, 20%);
}
.pr-img.p2{
  transform:translate(90%, -20%);
}
.pr-img.p3{
  transform:translate(90%, -90%);
}
.pr-img.p4{
  transform:translate(18%, -60%);
}
.pr-img.p5{
  transform:translate(40%, -2%);
}

.pr-img:hover{
  filter:none;
  
}
.phone-wrap{
  text-align:center;
  position:absolute;
  overflow:hidden;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.phone-wrap .ui-images{
  text-align:center;
  position:absolute;
  overflow:hidden;
  top:50%;
  left:50%;
  border-radius:40px;
  transform:translate(-50%,-50%);
}
.ui-images img{
  width: 294px;
    height: 630px;
   opacity:0;
}

.phone{
  transform:translateY(100%) scale(0.8);
  max-width:400px;
 
  position:relative;
  overflow:hidden;
}
.svg-pattern{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index:0;
 
}
.magic-bg{
  position:absolute;
  top:50%;
  left:50%;
  background-color:#fff;
  transform:translate(-49.9%,-50%);
  z-index:1;
  width:292px;
  height:225px;
}

.hulk-left{
  font-size:15vw;
  color:#fff;
  margin-top:50px;
  transform:translateX(-10%);
}

.hulk-right{
  font-size:15vw;
  color:#fff;
  transform:translateX(80%);
}

/*-- screens --*/
.section-padding{
  padding:60px 0;
}
.theme-light{
  background-color:#99a8fd;
}
.bg-blob{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform:scale(0);
  transform-origin:bottom center;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
}

.sa-screens .phone-ii{
  max-width:400px;
  transform:translateX(-100%) rotate(90deg);
}
.sa-screens .right-wrap{
  opacity:0;
}
.sa-screens .scrollText{
  height:100%;
  position:relative;
  overflow:hidden;
  display:flex;
  flex-direction:column;
}
.scrollText .trans-ovTop,
.scrollText .trans-ovBottom{
  height:50%;
  position:absolute;
  top:0;

}
.right-wrap{
  position:relative;
  overflow:hidden;
  height:100%;
}
.overlay-wrap{
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:flex;
  flex-direction: column;
  position:absolute;
}
.top-overlay,
.bottom-overlay{
  height:40%;
  background-color:rgb(153 168 253 / 80%);
}

.scope{
  height:5rem;
}

.sa-screens .scrollText ul{
  display:flex;
  flex-direction:column;
  transform:translateY(350px);
  justify-content:space-around;
  list-style:none;
}
.scrollText li{
  font-size:50px;
  font-weight:700;
  color:#47007c;
  line-height:1.3;
}

/*--- users ---*/
.sa-users .user-wrap{
  position:relative;
  height:100vh;
}
.sa-users .user{
  max-width:250px;
  position:absolute;

}

.user.right{
  right:10%;
}
.user.center{
  left:35%;
  top:10%;
}
.user.left{
  left:0;
  top:55%;
}
.user.bottom-center{
  left:50%;
  bottom:-20px;
}
.user.bottom-right{
  right:0;
  top:50%;
}
.sa-darkUi{
  position:relative;
}

.tk-blob{
  transform:scale(0);
  position:relative;
  transform-origin:bottom center;

}
.tk-blob #blob-overlay{
  position: absolute;
    right: -130px;
    top: -40px;
    transform:rotate(180deg);
}



@media(max-width: 991px){
  .phone-wrap{
    height:100vh;
    width:65%;
    display:flex;
    justify-content:center;
    align-items: center;
  }
  .phone{
    max-width:100%;
    transform:translateY(150%);
  }
  .intro{
    width:100%;
    padding:0 30px;
  }
  .pr-img.p1{
  transform:translate(-70%, 32%);
  }
  .pr-img.p2{
  transform:translate(8%, 65%);
  }
  .pr-img.p3{
  transform:translate(10%, -30%);
  }
  .pr-img.p4{
  transform:translate(-20%, 10%);
  }
  .pr-img.p5{
  transform:translate(-70%, 100%);
  }
  .ui-images img{
    width:397px;
    height:825px;
  }
  .features-wrap .inner{
    height:90%;
    justify-content:space-between;
  }
}

@media(max-width: 768px){
   #main-section .pr-img{
    max-width:300px;
  }

  .intro h3{
    font-size:70px;
    font-weight:700;
  }
  .phone-wrap{
    width:90%;
  }
  .magic-bg{
    width:273px;
    height:213px;
  }
  .ui-images img{
    width:280px;
    height:584px;
    margin-left:3px;
  }
  .option.mr-30,
  .option.ml-30{
    display:none;
  }

}


</style>
